* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light;
  font-family: Inter, system-ui, sans-serif;

  --color-theme-300: #6366f1;
  --color-theme-400: #4f46e5;
  --color-theme-500: #4338ca;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  min-height: 100vh;
  background: #f3f4f6;
  color: #111827;
}
