.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.form {
  width: min(527px, 90%);
  border-radius: 40px;
  border: 6px solid #fff;
  padding-inline: 59px;
  padding-top: 46px;
  padding-bottom: 30px;
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.04);
  background: linear-gradient(
    180deg,
    rgba(35, 35, 35, 0.03) 0%,
    rgba(35, 35, 35, 0) 50%
  );
  display: flex;
  flex-direction: column;
}

.logocontainer {
  margin-inline: auto;
  box-shadow:
    0 12px 8px 0 rgba(0, 0, 0, 0.03),
    0 0 0 2px #fff;
  background:
    #fff,
    linear-gradient(
      360deg,
      rgba(35, 35, 35, 0) 50%,
      rgba(35, 35, 35, 0.06) 100%
    );
  border-radius: 100px;
  width: 52px;
  height: 52px;
  position: relative;
  margin-bottom: 35px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.heading {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #232323;
  margin-bottom: 10px;
}

.subtitle {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  text-align: center;
  color: #e0e0e0;
  margin-bottom: 32px;
}

.inputfieldscontainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.userinputcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
