.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #232323;
}

.error {
  color: red;
}
